extends layout

block content
  h1= title
  p Welcome to #{title}
  div(id="breweryCount")
  div(id="breweryList")


  script(type='text/javascript').
     var locations;
     if ('geolocation' in navigator) {
        navigator.geolocation.getCurrentPosition(function(position) {
          myLocation(position.coords.latitude, position.coords.longitude);
        });
     } else {
       console.log('geolocation not available');
     }

     function myLocation(lat, lng){

          var xhReq = new XMLHttpRequest();
          xhReq.open("GET", "locations/"+lat+"/"+lng, false);
          xhReq.send(null);
          var serverResponse = xhReq.responseText;
          console.log(serverResponse);
          locations = JSON.parse(serverResponse);
          displayLocations();

     }

     function displayLocations(){
        var list = document.getElementById('breweryList')
            ,ct = document.getElementById('breweryCount')
            ,i = locations.totalResults
            ,li;

        ct.innerHTML = locations.totalResults;

        while(i--){
            li = document.createElement('li');
            list.appendChild(li).textContent = locations.data[i].name;
        }




     }

